<%= turbo_stream_from @conversation %>

<div class="w-full max-w-4xl mx-auto p-6 bg-white">
  <!-- Header -->
  <div class="bg-white border-b border-gray-200 px-6 py-4 flex justify-between items-center">
    <div>
      <h1 class="text-xl font-semibold text-gray-900">Conversation</h1>
      <p class="text-sm text-gray-500">Model: <%= @conversation.llm_model_key %></p>
    </div>
    <div class="flex space-x-2">
      <%= link_to "All Raif Conversations", raif_conversations_path,
                  class: "rounded-md px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-700 font-medium" %>
      <%= button_to "New Conversations", raif_conversations_path,
                    class: "rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
    </div>
  </div>

  <!-- Messages Container -->
  <div id="<%= dom_id(@conversation, :entries) %>" class="space-y-4 h-full max-h-[500px] overflow-y-auto bg-white rounded-lg p-4 raif-conversation-entries-container" data-controller="raif--conversations">
    <%= render @conversation.initial_chat_message_partial_path, conversation: @conversation %>
    <%= render @conversation.entries.oldest_first %>
  </div>


  <!-- Message Form -->
  <div class="bg-white border-t border-gray-200 p-4">
    <div id="<%= dom_id(@conversation, :entry_input) %>" class="raif-conversation-entry-input-container">
      <%= render "raif/conversation_entries/form_with_available_tools",
                 conversation: @conversation,
                 conversation_entry: Raif::ConversationEntry.new %>
    </div>
  </div>
</div>
